<section class="tiny-padding-bottom" id="team">
  <div class="container">
      <div class="row">
        <div class = "col-lg">
            <div class="page-section team-member">
                <div class="text-center margin-foto">
                  <h2 class="section-heading text-uppercase " id="nombre">{{ proveedor.nombre }}</h2>
                  <h3 class="section-subheading text-muted">proveedor</h3>
                </div>
                <img class="mx-auto rounded-circle" id ="foto" src="{{proveedor.foto.url}}" alt="..." />
            </div>
        </div>
        <div class = "col-lg">
          <div style="width:100%"><section class="page-section">
              <div class="text-center">
                  <h2 class="section-heading text-uppercase">Expediciones</h2>
                  <h3 class="section-subheading text-muted">del proveedor</h3>
              </div>
              <main class="leaderboard__profiles">
                <article class="leaderboard__profile" *ngFor="let expedicion of proveedor.expediciones; let i=index"
                routerLink="/expediciones/{{expedicion.id}}">
                  <span class="leaderboard__name">{{i+1}}</span>
                  <span class="leaderboard__value">{{expedicion.nombre}}</span>
                </article>
              </main>
          </section></div>
        </div>
      </div>
    </div>
</section>

<section class="page-section bg-light tiny-padding">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase">Información</h2>
          <h3 class="section-subheading text-muted">del proveedor</h3>
      </div>
      <div class="row text-center">
          <div class="col">
              <span>
                  <img src="\assets\images\Hola1.png" class="ochenta-image">
              </span>
              <h4 class="my-3">Experticia</h4>
              <p class="text-muted" id="experticia">{{proveedor.experticia}} días</p>
          </div>
          <div class="col">
            <span>
              <img src="\assets\images\Hola2.png" class="ochenta-image">
            </span>
              <h4 class="my-3">Tipo de proveedor</h4>
              <p class="text-muted" id="tipoDocumento">{{proveedor.tipoDocumento == "Nit"? "Empresa" : "Persona natural"}}</p>
          </div>
          <div class="col">
            <span>
              <img src="\assets\images\Hola3.png" class="ochenta-image">
            </span>
              <h4 class="my-3">Teléfono</h4>
              <p class="text-muted" id="telefono">{{proveedor.telefono}}</p>
          </div>
      </div>
  </div>
</section>

<!-- Contact-->
<div class="d-flex justify-content-center">
  <section class="page-section width-50" id="contact">
  <div class="container">
      <div class="text-center">
          <h2 class="texto-contacto text-uppercase">Contacta a</h2>
          <h3 class="nombre-contacto text-muted" id="nombre2">{{proveedor.nombre}}</h3>
      </div>
      <form id="contactForm" data-sb-form-api-token="API_TOKEN" class="contact">
          <div class="row align-items-stretch mb-5">
              <div class="col-md-6">
                  <div class="form-group">
                      <!-- Name input-->
                      <input class="form-control" id="name" type="text" placeholder="Nombre" data-sb-validations="required" />
                      <div class="invalid-feedback" data-sb-feedback="name:required">Se necesita ingresar un nomnre.</div>
                  </div>
                  <div class="form-group">
                      <!-- Email address input-->
                      <input class="form-control" id="email" type="email" placeholder="Correo" data-sb-validations="required,email" />
                      <div class="invalid-feedback" data-sb-feedback="email:required">Se necesita ingresar un Email.</div>
                      <div class="invalid-feedback" data-sb-feedback="email:email">El Email no es correcto.</div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group form-group-textarea mb-md-0">
                      <!-- Message input-->
                      <textarea class="form-control" id="message" placeholder="Mensaje" data-sb-validations="required"></textarea>
                      <div class="invalid-feedback" data-sb-feedback="message:required">Se necesita ingresar un mensaje.</div>
                  </div>
              </div>
          </div>
          <!-- Submit success message-->
          <div class="d-none" id="submitSuccessMessage">
              <div class="text-center text-white mb-3">
                  <div class="fw-bolder">Form submission successful!</div>
                  To activate this form, sign up at
                  <br />
                  <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
              </div>
          </div>
          <!-- Submit error message-->
          <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
          <!-- Submit Button-->
          <div class="text-center"><button class="btn btn-primary btn-xl dark-green-bg text-uppercase disabled down-margin" id="submitButton" type="submit">Enviar Mensaje</button></div>
      </form>
  </div>
</section>
</div>
