<div class="container">
  <img style = "margin-top: 2rem; margin-left: 29rem; width: 10rem;"src="../../assets/images/recomendacion.png">
  <h2 style = "color: #37B08A; font-size: 4rem; margin-left: 18rem; margin-top: 2rem;">
    Recomendaciones
  </h2>
  <br>
  <div class="container">
    <div style = "background-color: rgb(236, 236, 236); border-radius: 2rem; align-items: center;">
      <img style = "margin-left: 28.8rem; width: 8rem; padding-top: 1rem; padding-bottom: 1rem; "src="../../assets/images/indumentaria.png">
      <h3 style = "text-align: center;">
        Indumentaria
      </h3>
      <p style = "text-align: center; padding-bottom: 1rem;">{{recomendacion.indumentaria}}</p>
    </div>

    <div style = "background-color: rgb(236, 236, 236); border-radius: 2rem; margin-bottom: 5rem;">
      <img style = "margin-left: 28.8rem; width: 8rem; padding-top: 1rem; padding-bottom: 1rem;"src="../../assets/images/equipo.png">
      <h3 style = "text-align: center;">
        Equipo
      </h3>
      <p style = "text-align: center; padding-bottom: 1rem;">{{recomendacion.equipo}}</p>
    </div>
</div>
