<div class="container">
  <div class="text-center">
    <img style = "margin-top: 2rem;width: 10rem;"src="../../assets/images/recomendacion.png">
    <h2 style = "color: #37B08A; font-size: 4rem; margin-top: 2rem;">
      Recomendaciones
    </h2>
  </div>
  <br>
  <div class="container">
    <div style = "background-color: rgb(236, 236, 236); border-radius: 2rem;">
      <div class="text-center">
        <img style = "width: 8rem; padding-top: 1rem; padding-bottom: 1rem; "src="../../assets/images/indumentaria.png">
        <h3>
          Indumentaria
        </h3>
        <p style = "padding-bottom: 1rem;">{{recomendacion.indumentaria}}</p>
      </div>
    </div>

    <div style = "background-color: rgb(236, 236, 236); border-radius: 2rem; margin-bottom: 5rem;">
      <div class="text-center">
        <img style = "width: 8rem; padding-top: 1rem; padding-bottom: 1rem;" src="../../assets/images/equipo.png">
        <h3>
          Equipo
        </h3>
        <p style = "padding-bottom: 1rem;">{{recomendacion.equipo}}</p>
      </div>
    </div>
</div>
