<div class="container">

  <div class="row justify-content-start row-vertical margenes">
    <div class="column size-img">
      <img src="this.src='assets/images/escudoseguros.png';" onerror="this.src='assets/images/escudoseguros.png';" class="card-img-top" alt="">
    </div>
    <div class="col-3">
        <h4>
          <div class="margen-abajo">
            {{seguro.nombre}}
          </div>

        </h4>
    </div>
  </div>

  <div class="column">
    <h5 class="margen-expediciones">
      Clientes:
    </h5>
    <div class="col-3" *ngFor="let cliente of seguro.clientes">
        <ul>
          <li>
            <app-clientes-lista [cliente]="cliente"></app-clientes-lista>
          </li>
        </ul>

    </div>
    <h5 class="margen-expediciones">
      Caracteristicas:
    </h5>
    <div class="col-3" *ngFor="let caracteristica of seguro.caracteristicas">
      <ul>
        <li>
          <app-caracteristicas-lista [caracteristica]="caracteristica"></app-caracteristicas-lista>
        </li>
      </ul>

    </div>
    <h5 class="margen-expediciones">
      Condiciones:
    </h5>
    <div class="col-3" *ngFor="let condicion of seguro.condiciones">
      <ul>
        <li>
          <app-condiciones-lista [condicion]="condicion"></app-condiciones-lista>
        </li>
      </ul>

    </div>
</div>

</div>
