<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-translucent">
  <div class="container-fluid">
    <a class="navbar-brand bold tiny-left-margin" (click)="click('home')"
    routerLink="/home">Trekking Inc.</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item left-margin">
          <a class="nav-link" (click)="click('home')"
          [ngClass]="active_link=='home' ? 'active' : ''" routerLink="/home">Home</a>
        </li>
        <li class="nav-item left-margin">
          <a class="nav-link" (click)="click('expediciones')"
          [ngClass]="active_link=='expediciones' ? 'active' : ''" routerLink="/expediciones/list">Expediciones</a>
        </li>
        <li class="nav-item left-margin">
          <a class="nav-link" (click)="click('proveedores')"
          [ngClass]="active_link=='proveedores' ? 'active' : ''" routerLink="/proveedores/list">Proveedores</a>
        </li>
        <li class="nav-item left-margin">
          <a class="nav-link" (click)="click('seguros')"
          [ngClass]="active_link=='seguros' ? 'active' : ''" routerLink="/seguros/list">Seguros</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="top-margin">
  <div class="row">
    <div class="col-md-12">
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<section>
  <footer class="text-center text-white fixed-bottom a">
    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="https://uniandes.edu.co/">uniandes.edu.co</a>
    </div>
  </footer>
</section>
