<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand bold tiny-left-margin" (click)="click('home')">Trekking Inc.</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item left-margin">
          <a class="nav-link" (click)="click('home')"
          [ngClass]="active_link=='home' ? 'active' : ''">Home</a>
        </li>
        <li class="nav-item left-margin">
          <a class="nav-link" (click)="click('expediciones')"
          [ngClass]="active_link=='expediciones' ? 'active' : ''">Expediciones</a>
        </li>
        <li class="nav-item left-margin">
          <a class="nav-link" (click)="click('proveedores')"
          [ngClass]="active_link=='proveedores' ? 'active' : ''">Proveedores</a>
        </li>
        <li class="nav-item left-margin">
          <a class="nav-link" (click)="click('seguros')"
          [ngClass]="active_link=='seguros' ? 'active' : ''">Seguros</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container margin-vertical">
  <app-home *ngIf="active_link=='home'"></app-home>
  <app-expediciones *ngIf="active_link=='expediciones'" (clickDetalle)="clickExpedicion($event)"></app-expediciones>
  <app-proveedores *ngIf="active_link=='proveedores'" (clickDetalle)="clickProveedor($event)"></app-proveedores>
  <app-seguros *ngIf="active_link=='seguros'"></app-seguros>
  <app-proveedor-detalle *ngIf="active_link=='proveedor-detalle'" [proveedor]="proveedorSeleccionado"></app-proveedor-detalle>
  <app-expedicion-detalle *ngIf="active_link=='expedicion-detalle'" [expedicion]="expedicionSeleccionada"></app-expedicion-detalle>
</div>

<section>
  <footer class="text-center text-white fixed-bottom dark-green-bg">
    <!-- <div class="container p-3 pb-0">
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Regístrate gratis</span>
          <button type="button" class="btn btn-outline-light btn-rounded">
            Sign up
          </button>
        </p>
      </section>
    </div> -->

    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="https://uniandes.edu.co/">uniandes.edu.co</a>
    </div>
  </footer>
</section>
