.bold{
  font-weight: bold;
}

.dark-green-bg{
  background-color: #006b42;
}

.yellow-bg{
  background-color: #ffc800;
}

.top-margin{
  padding-top: 3.5rem;
}

.bg-translucent {
  --bs-bg-opacity: 0.98;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

.light-green-bg{
  background-color: #00b16d;
}

.nav-item > .active {
  color: #005f3a;
  font-weight: 500;
}

.nav-item > a:hover {
  color: #008351;
}

a{
  cursor: pointer;
}

.left-margin{
  margin-left: 3%;
}

.tiny-left-margin{
  margin-left: 2%;
}
