<div class="container">
  <h2 style = "text-align:center;">
    Expedicion {{expedicion.nombre}}
  </h2>
  <br>
  <div class="container">
    <div class="row justify-content-start">
        <div>
          <app-expedicion-galeria [fotos]="expedicion.fotos" ></app-expedicion-galeria>
        </div>
        <div class="col-3" *ngFor="let itinerario of expedicion.itinerarios">

        </div>
        <div class="col-3" *ngFor="let recomendacion of expedicion.recomendaciones">

        </div>
    </div>
  </div>
</div>
