<div class="container1">
  <h2>
    {{expedicion.nombre}}
  </h2>
  <br>
  <div>
    <app-expedicion-galeria [fotos]="expedicion.fotos" ></app-expedicion-galeria>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-6 col-sm-3">
        <h2>Fecha de inicio</h2>
        {{expedicion.fechaInicio}}
      </div>
      <div class="col-6 col-sm-3">
        <h2>Fecha de finalización</h2>
        {{expedicion.fechaFinal}}
      </div>
      <div class="col-6 col-sm-3">
        <h2>Duración</h2>
        {{expedicion.duracion}}
      </div>
      <div class="col-6 col-sm-3">
        <h2>Descripción</h2>
        {{expedicion.descripcion}}
      </div>

      <div class="w-100"></div>

      <div class="col-6 col-sm-3">
        <h2>Lugar de salida y hora</h2>
        {{expedicion.lugarSalida}}{{expedicion.horaSalida}}
      </div>
      <div class="col-6 col-sm-3">
        <h2>Lugar de llegada y hora</h2>
        {{expedicion.lugarLlegada}}{{expedicion.horaLlegada}}
      </div>
      <div class="col-6 col-sm-3">
        <h2>Dificultad</h2>
        {{expedicion.dificultad}}
      </div>
      <div class="col-6 col-sm-3">
        <h2>Costo</h2>
        {{expedicion.costo}}
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-6 col-sm-3">
        <h2>Itinerarios</h2>
        <ol>
          <li *ngFor="let itinerario of expedicion.itinerarios" class="clickable" (click)="clickItinerario(itinerario)">
            Itinerario del día {{itinerario.dia}}
          </li>
        </ol>
      </div>
      <div class="col-6 col-sm-3">
        <h2>Recomendaciones</h2>
        <ol>
          <li *ngFor="let recomendacion of expedicion.recomendaciones" class="clickable" (click)="clickRecomendacion(recomendacion)">
            Recomendación {{recomendacion.id}}
          </li>
        </ol>
      </div>
  </div>
    <div>
      <h2>Mapa</h2>
      <div>
        <app-mapa-card [expedicion]="expedicion" ></app-mapa-card>
    </div>
    </div>
  </div>
</div>

