
<div class = "scene posicion">
  <h2 id="titulo">Trekking Inc.</h2>
  <img src = "../../assets/images/AvionHome.png" class = "plane">
  <img src = "../../assets/images/PaisajeHome.svg" class = "landscape">
</div>

<section class="page-section tiny-padding-provs" id="team">
  <div class="container">
      <div class="text-center margin-bottom">
          <h2 class="section-heading text-uppercase">Nosotros</h2>
      </div>
      <div class="row">
        <div class="col-4 team-member">
            <img class="mx-auto rounded-circle" src="\assets\nosotros\jesus.jpg" alt="..." />
            <h4>Jesús</h4>
            <p class="text-muted">Líder</p>
        </div>
        <div class="col-4 team-member">
          <img class="mx-auto rounded-circle" src="\assets\nosotros\thais.jpg" alt="..." />
          <h4>Thais</h4>
          <p class="text-muted">Secretaria</p>
        </div>
        <div class="col-4 team-member">
          <img class="mx-auto rounded-circle" src="\assets\nosotros\nathalia.jpg" alt="..." />
          <h4>Nathalia</h4>
          <p class="text-muted">Secretaria favorita</p>
        </div>
        <div class="col-4 team-member">
          <img class="mx-auto rounded-circle" src="\assets\nosotros\obed.jpg" alt="..." />
          <h4>Obed</h4>
          <p class="text-muted">Tesorero</p>
        </div>
        <div class="col-4 team-member">
          <img class="mx-auto rounded-circle" src="\assets\nosotros\julianf.jpg" alt="..." />
          <h4>Julian F.</h4>
          <p class="text-muted">Abogado</p>
        </div>
        <div class="col-4 team-member">
          <img class="mx-auto rounded-circle" src="\assets\nosotros\julianv.jpg" alt="..." />
          <h4>Julian V.</h4>
          <p class="text-muted">Técnico</p>
        </div>
      </div>
  </div>
</section>

